{% extends 'layout.html' %}
{% block content %}
{% load humanize %}
{% if product %}
<section class="section-prod-detail">
    <div class="container">
        <div class="card">
            <div class="card-header">
                상품상세정보
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img class="t-w-full t-max-w-[300px]" src="{{product.thumb_img_url}}" alt="">
                </li>
                <li class="list-group-item">
                    번호 : <span class="badge bg-primary">{{product.id}}</span>
                </li>
                <li class="list-group-item">
                    등록날짜 : <span class="badge bg-secondary">{{product.reg_date}}</span>
                </li>
                <li class="list-group-item">
                    수정날짜 : <span class="badge bg-secondary">{{product.update_date}}</span>
                </li>
                <li class="list-group-item">
                    상품명 : <span class="t-font-bold">{{product.display_name}}</span>
                </li>
                <li class="list-group-item">
                    가격 : <span class="t-font-bold">{{product.sale_price|intcomma}}</span>원
                </li>
                <li class="list-group-item">
                    마켓 : <span class="badge bg-primary">{{product.market.name}}</span>
                </li>
            </ul>

    </div>
    <div class="card t-mt-[30px]">
        <div class="card-header">
            옵션
        </div>

        <ul class="list-group list-group-flush">
            {% for product_real in product_reals %}
            <li class="list-group-item">
                {{product_real.option_1_type}} : <span class="badge bg-secondary">{{product_real.option_1_display_name}}</span>
                /
                {{product_real.option_2_type}} : <span class="badge bg-secondary">{{product_real.option_2_display_name}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="card t-mt-[30px]">
        <div class="card-header t-flex t-items-center">
            <h2 class="t-mr-[10px]">상품 문의하기</h2>
            <a class="badge bg-primary t-mr-[10px] t-no-underline" href="{% url 'products:questions:create' product.id %}">문의하기</a>
            <a class="badge bg-primary t-mr-[10px] t-no-underline" href="{% url 'products:questions:show' product.id %}">내 문의보기</a>
        </div>
        <ul class="list-group list-group-flush">
            {% for question in question_list %}
            <li class="list-group-item">{{question.body}}</li>
            {% endfor %}
        </ul>
    </div>
</section>
{% else %}
    <h2>등록된 게시물이 아닙니다.</h2>
{% endif %}

{% endblock %}